*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

 body{
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    180deg,
    rgb(71, 65, 65)0%,
    rgb(243, 243, 247)100% );

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
 }

 form{
    background-image: url(imagenes/fondo\ madera.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 420px;
    height: 700px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
 }

 .form-login{
    padding-top: 120px;
 }

 form img{
    width: 70px;
    margin-bottom: 25px;
 }

 .input-container{
    position: relative;
 }

 .input-container > i {
    padding: 14px;
    border-radius: 50%;
    background: linear-gradient(
        90deg,
        rgb(71, 65, 65)0%,
        rgb(243, 243, 247)100% );
        position: absolute;
        font-size: 20px;
        top: 7px;
        right: 8px;
 }

 .input-container > input{
    padding: 20px 50px 20px 15px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-size: 17px;
    outline: none;
    color: #FFFFFF;    
 }

 ::placeholder{
    color: #FFFFFF;
    font-size: 17px;
 }

 form a{
    display: block;
    color: #FFFFFF;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 35px;
 }

 .btn{
    background: linear-gradient(
        90deg,
        rgb(71, 65, 65)0%,
        rgb(243, 243, 247)100% );
        padding: 14px 75px; 
        border: 0;
        box-shadow: 0 0 20px rgba(0,0,0,0.4);
        border-radius: 25px;
        color: #000000;
        font-size: 17px;
        cursor: pointer;
 }

 @media(max-width:991px){
    body{
        padding: 30px;
    }
    form{
        width: 100%;
    }
 }
